[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask_sqlalchemy = "*"
SQLAlchemy = "*"
requests = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
py-openaq = "*"
openaq = "*"
Flask = "*"

[requires]
python_version = "3.7"
